@font-face {
font-family: "beefd";
src: url("resources/beefd.ttf");
}

* {
box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
}

/* Custom Titlebar */
.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.lcd {
font-family: "beefd";
background-color: #003e07;
color:#27ed2d;
padding:10px;
width:auto;
}

/* Saab style button */
button.saab {
width:242px;
height:99px;
background-image: url(resources/up.png);
border:none;
font-size:30pt;
color:#c1f9aa;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
background-color:transparent;
outline:0;
}

button.saab:active {
background-image: url(resources/down.png);
}

button.saab:active span.btntxt {
margin-right:5px;
color:#b5f898;
}