* {
box-sizing: border-box;
}

body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Custom Titlebar */
.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

/* Saab style button */
button.saab {
width:242px;
height:99px;
background-image: url(resources/up.png);
border:none;
font-size:30pt;
color:#c1f9aa;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
background-color:transparent;
outline:0;
}

button.saab:active {
background-image: url(resources/down.png);
}

button.saab:active span.btntxt {
margin-right:5px;
color:#b5f898;
}