@font-face {
font-family: "beefd";
src: url("resources/beefd.ttf");
}

* {
box-sizing: border-box;
}

body {
margin:0;
font-family: Arial, Helvetica, sans-serif;
}

/* Custom Titlebar */
.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

/* Saab SID style text */
.lcd {
font-family: "beefd";
background-color: #003e07;
color:#27ed2d;
padding:10px;
width:auto;
}

/* Saab style button */
button.saab {
width:242px;
height:100px;
border:none;
font-size:30pt;
color:#c1f9aa;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
outline:0;
background-image: url(resources/up.png);
background-color:transparent;
background-repeat: no-repeat;
}

button.saab:active {
background-image: url(resources/down.png);
}

button.saab:active span.btntxt {
margin-right:5px;
color:#b5f898;
}

.lcdbg {
background-color: #003e07;
white-space: nowrap;
}

#nightpanel {
width:330px;
height:100px;
background-size: 330px 100px;
}

#testi {
animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}