/*Import the custom font that looks like the font in SAAB SID*/
@font-face {
font-family: "beefd";
src: url("resources/beefd.ttf");
}

/*Apply for all elements*/
* {
box-sizing: border-box;
}

/*Basic styling for body*/
body {
margin:0;
font-family: Arial, Helvetica, sans-serif;
background-color: #2d2d2d;
color:#f5f5f5;
}

/* GRID CONTAINER */
.grid-container {
display:grid;
grid-template-areas:
"aside main main main"
"aside main main main"
"aside main main main"
"player player player player";
grid-gap: 10px;
background-color: #2d2d2d;
}



/* ASIDE = sidebar */

aside {
grid-area:aside;
background-color:#5c5c5c;
width:280px;
}

/* Thumbnails in search results */

.thumbnail {
width:100%;
height:100%;
}


#searchResult {
width:30%;
height:auto;
}


#results {
width:95%;
display:flex;
flex-direction: row;
}

#playlists {
width:95%;
display:flex;
flex-direction: column;
}


/* MAIN */

main {
grid-area:main;
background-color: #5c5c5c;
}



/* PLAYER */

#player {
grid-area: player;
background-color: #5c5c5c;
}

/*Logo h1*/

h1#logo {
font-family: "arial black";
font-size: 3rem;
margin:0;
}


/* SAAB STYLE BUTTONS */

/*Button styling*/
button.saab {
width:242px;
height:100px;
border:none;
font-size:30pt;
color:#c1f9aa;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
outline:0;
background-image: url(resources/up.png);
background-color:transparent;
background-repeat: no-repeat;
}

/*Change the background image when the button is pressed*/
button.saab:active {
background-image: url(resources/down.png);
}

/*Move the text slightly when the button is pressed*/
button.saab:active span.btntxt {
margin-right:5px;
color:#b5f898;
}

/*Button wide enough for the text "night panel"*/
#nightpanel {
width:330px;
height:100px;
background-size: 330px 100px;
}


/* SAAB SID LCD style for text */

/* Basic styling */
.lcd {
font-family: "beefd";
background-color: #003e07;
color:#27ed2d;
padding:10px;
}

/* Background for animated LCD elements */
.lcdbg {
background-color: #003e07;
white-space: nowrap;
overflow:hidden;
}

/*Class for applying the marquee animation easily*/
.anim {
animation: marquee 15s steps(100,end) infinite;
}

/*Keyframes for the marquee animation*/

/*Toimii ihan ok, mutta vois olla hienompiki*/
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(0%);
  }
  60% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* Testailu joka aika paskana (älä silti poista)*/
/*
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(0%);
  }
  70% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
*/
